@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family:'Poppins', sans-serif
}
body{
    /* background-color: #179342; */
    /* background-color: #39424e; */
    background-color: #fff;
    
    box-sizing: border-box;
}
.header{
    display: flex;
    background-color: #39424e;
    justify-content: space-around;
min-height: 60px;
    
}
.hList li a{
    text-decoration: none;
    color: #099c3c;
    font-weight: 300;
    font-size: larger;
}
.hList li {
    display: inline-block;
    justify-content: space-around;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.logo{
    margin-top: 10px;
    font-weight: 600;
    font-size:x-large;
    letter-spacing: 3px;
    color: #fff;
    height: 35px;
    padding-right: 15px;
    border-right: 6px solid #179342;
}
#login a{
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding: 16px;
    text-decoration: none;
    color: white;
    
}